<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel = "stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
</head>
<body>

<div class = "container">
    <form method="post" action="#" th:object="${registration_info}" th:action="@{/registration}" >
        <h3>Registration Form</h3>
        <input type="hidden" id="id" th:field="*{id}"/>
        <input type="text" placeholder="Tap your name here" id="name" th:field="*{name}"/>
        <input type="text" placeholder="Tap your last name here" id="lastname" th:field="*{lastName}"/>
        <input type="text" placeholder="User name" id="userName" th:field="*{userName}"/>
        <hr>
        <br> <small> <i>Your age : </i></small>
        <input type="number" min="16" max="100" id="age" th:field="*{id}"/> yo
        <br> <small> <i>Your weight : </i></small>
        <input type="number" min="50" id="weight" th:field="*{weight}"/> kg
        <br> <small> <i>Your height : </i></small>
        <input type="number" min="100" id="height" th:field="*{height}"/> cm
        <br> <input type="checkbox" name="privateinfo" id="private_info" th:field="*{privateInfo}"/>
        <small><i>Do you want other users to see this information?</i> </small> <br>
        <hr>
        <br> <input type="email" placeholder="Email" id="email" th:field="*{email}"/>
        <label for="send_progress">
            <br> <input type="checkbox" name="sendProgress" id="send_progress" th:field="*{sendProgress}"/>
            <i>Do you want to receive the statistics about your progress on your email every week?</i>

        </label>
        <input type="submit" value="Submit"/>
    </form>

    <div class="result_message" th:if="${submitted}">
        <h3> Your registration information has been submitted.</h3>
        <p> You can check all registrated users <a href="/allusers">here</a></p>
    </div>
</div>
</body>
</html>